@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input {
    @apply rounded-full border border-stone-200 px-4 py-2 text-sm transition-all duration-300 placeholder:text-stone-400 focus:outline-none focus:ring focus:ring-yellow-400 md:px-6 md:py-3;
  }

  /* https://dev.to/afif/i-made-100-css-loaders-for-your-next-project-4eje */
  .loader {
    width: 45px;
    aspect-ratio: 0.75;
    --c: no-repeat linear-gradient(theme(colors.stone.800) 0 0);
    background: var(--c) 0% 50%, var(--c) 50% 50%, var(--c) 100% 50%;
    background-size: 20% 50%;
    animation: loading 1s infinite linear;
  }

  @keyframes loading {
    20% {
      background-position: 0% 0%, 50% 50%, 100% 50%;
    }
    40% {
      background-position: 0% 100%, 50% 0%, 100% 50%;
    }
    60% {
      background-position: 0% 50%, 50% 100%, 100% 0%;
    }
    80% {
      background-position: 0% 50%, 50% 50%, 100% 100%;
    }
  }

    .music-swiper .swiper-button-next,
    .music-swiper .swiper-button-prev {
        @apply text-[#1DB954] w-12 h-12 hover:text-[#1ed760];
    }

    .music-swiper .swiper-button-next,
    .music-swiper .swiper-button-prev {
        color: #1DB954;
        background: rgba(0, 0, 0, 0.6);
        border-radius: 100%;
        backdrop-filter: blur(10px);
        display: flex;
        padding: 12px;
        align-items: center;
        justify-content: center;
    }

    .music-swiper .swiper-button-next:hover,
    .music-swiper .swiper-button-prev:hover {
        background: rgba(29, 185, 84, 0.15);
        color: #1ed760;
    }

    .back-gradient{
        background: #171717;
        background: linear-gradient(358deg,rgba(23, 23, 23, 1) 0%, rgba(23, 23, 23, 1) 90%, rgba(31, 112, 29, 1) 100%);
    }

    @font-face {
        font-family: "nexa";
        src: url("./assets/fonts/Nexa.light.otf");
        font-weight: 300;
    }

    @font-face {
        font-family: "nexaBold";
        src: url("./assets/fonts/Nexa.bold.otf");
        font-weight: 700;
    }

    @font-face {
        font-family: "jazoor";
        src: url("./assets/fonts/Jozoor.ttf");
        font-weight: 700;
    }


}
